.animate-vue {
    transition-delay: .1s;
    transition-duration: .25s;
    transition-timing-function: ease-in;
}
.zz-up {
    transform: translateY(+100px);
    opacity: 0
}
.zz-up.animate-scroll {
    transform: translateY(0);
    opacity: 1
}

.zz-r {
    transform: translateX(+100px);
    opacity: 0
}
.zz-r.animate-scroll {
    transform: translateX(0);
    opacity: 1
}

.zz-l {
    transform: translateX(-100px);
    opacity: 0
}
.zz-l.animate-scroll {
    transform: translateX(0);
    opacity: 1
}
